[alias]
  co = checkout
  ci = commit
  ca = commit --amend
  s = status -sb
  br = branch
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
[color "branch"]
  current = green
  remote = yellow
